@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Overpass", sans-serif;
  font-size: 1.5rem;
  background: var(--very-dark-blue);
}

.hidden {
  display: none;
}

.active {
  background-color: var(--very-dark-blue);
}
